body {
    background: white;
    font-family: Verdana;
    max-width: 720px;
    margin: auto;
}



#title, .subtitle, .post_title {
    color: black;
}

#title {
    font-size: 30px;
}
.post_title {
    font-size: 25px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 10px;
}

.post {
    background: white;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 15px;
    
}
.post_content {
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-transform: capitalize;
}
.post_image {
    margin-bottom: 15px;
}

.contacts_list {

    list-style-type: square;
    padding-left: 5px;
}
.contacts_list li a {
    color: blue,;
}

